* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(154, 75, 233);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout {
    height: max-content;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
}

#logout:hover {
    background-color: rgb(175, 2, 2);
}

.whiteboard {
    height: 100%;
    width: 100%;
    background-color: white;
}

.username {
    color: white;
    font-size: 20px;
}

.tips {
    /* position: fixed;
    left: 0;
    top: 0; */
}

.buttons {
    /* position: fixed;
    right: 0;
    top: 0;
    z-index: 1; */
    /* make the button on top of the whiteboard */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.btn {
    /* font-size: 14px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    /* background-color: white; */
    color: white;
    border: 5px solid black;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

.actButton {
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    margin: 5px;
    border-radius: 10px;
    transition: 0.2s;
}

.actButton:hover {
    background-color: rgb(230, 230, 230);
}

.actButton:focus {
    background-color: aqua;
}

.currUsers {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    width: max-content
}