* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whiteboard {
    height: 100%;
    width: 100%;
    background-color: white;
}

.tips {
    /* position: fixed;
    left: 0;
    top: 0; */
}

.buttons {
    /* position: fixed;
    right: 0;
    top: 0;
    z-index: 1; */
    /* make the button on top of the whiteboard */
    margin-bottom: 20px;
}

.btn {
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 5px solid black;
}

.actButton {
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
}

.currUsers {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    width: max-content
}