<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultiUser Whiteboard</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='sytle.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/sytle.css">
</head>

<body>


    <div class="container">

        <button id="logout">Logout</button>
        <div class="left">
            <div class="tips">
                <p id="message">Initializing Sync...</p>
            </div>

            <h3 class="username" id="username">Logged in as: </h3>
            <div class="buttons">
                <input type="color" name="colorPick" id="cPick">
                <button id="clear-btn" class="btn btn-danger">Clear Board</button>
            </div>
            <div class="buttons">
                <button id="request-btn" class="btn btn-primary">Request Control</button>
                <button id="release-btn" class="btn btn-primary">Release Control</button>
                <button id="access-btn" class="btn btn-info">Check Access</button>
            </div>
        </div>

        <div class="currUsers">
            <h3>Current Users:</h3>
            {% for user in userList %}
            <p>{{user}}</p>
            {% endfor %}
        </div>
    </div>

    <canvas style="border: 5px solid black;" class="whiteboard"></canvas>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

    </script>
    <script src="https://media.twiliocdn.com/sdk/js/sync/releases/0.12.4/twilio-sync.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- <script src="../static/main.js"></script> -->
</body>

</html>