<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./../static/logincss.css">
</head>

<body>
    <div class="pageContainer">
        <h1 class="title">Welcome to Multi-User Whiteboard</h1>
        <div class="container">
            <form action="http://127.0.0.1:5000/validateLogin" method="post">
                <input class="input" type="text" name="user" placeholder="Enter Username">
                <input class="submit" type="submit">
            </form>
        </div>
        <p class="error">{{error}}</p>
    </div>

</body>

</html>